.collapsible-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1em;
}

.collapsible-header {
  padding: 1em;
  background-color: #fff;
  cursor: pointer;
}

.collapsible-content {
  padding: 1em;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 2s ease-in;
}
.collapsible-content.active {
  max-height: 100px;
  transition: max-height 2s ease-out;
}
 .collapse {
  background-color: blue;
  color: aliceblue;
  padding: 5px 15px;
  cursor: pointer;
 }